<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrie.lldiary"
    android:versionCode="3"
    android:versionName="1.3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- android:name=".App" -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55c16a89e0f55adc25000b" />
        <!-- 友盟统计key: 55c16a89e0f55adc25000bdd -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Diary 360" />

        <!-- =============百度统计=============== -->
        <!-- 渠道 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="360 market" />
        <!-- 您从百度网站获取的 APP  KEY   -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="2ee0463b0" />
        <!-- 百度统计key: 2ee0463b0b -->


        <!-- ======以下是可选的===== -->
        <!-- 是否开启错误日志统计，默认为 false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为 APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 上面的日志发送策略  为 SET_TIME_INTERVAL 时，需设定时间间隔。取值为 1-­‐24（小时）的整数，默认为 1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="2" />
        <!-- 日志仅在 wifi 网络下发送，默认为 false   -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息，默认为 true(获取基站位置) -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- ===================END========================= -->


        <!-- android:launchMode="singleTask" -->
        <activity
            android:name=".ui.SignActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity" />
        <activity
            android:name=".activity.DiaryActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DiaryEditActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.DiaryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:theme="@style/TopTranslucentTheme" />
        <activity
            android:name=".activity.PlanActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PlanEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.StikyNoteActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.NoteEditActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AnniversaryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MoneyBookActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.MoneyEditActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:exported="false"
            android:process=":remote" />

        <activity
            android:name=".activity.RobotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConversationDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.CheckImgPwdActivity"
            android:exported="false" />
        <activity android:name=".activity.AnniversaryEditActivity" />
        <activity android:name=".activity.EditListActivity" />
        <activity android:name=".activity.AnnversaryDetailActivity" />
        <activity android:name=".ui.DiaryListActivity" />
        <activity android:name=".ui.DiaryActivity" />
        <activity android:name=".ui.LabelAddActivity" />
        <activity android:name=".ui.LabelActivity" />

        <!-- *****************************umeng********************************************* -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.carrie.lldiary.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.UmengMessageBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.carrie.lldiary.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.carrie.lldiary.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />
        <service
            android:name=".service.MyPushIntentService"
            android:exported="false" />

        <!-- *****************************umeng********************************************* -->

        <activity
            android:name=".activity.WholePasswordActivity"
            android:label="@string/title_activity_main_password" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.EmojiDownActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 发短信 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.MoneyActivity" />
        <activity android:name=".ui.MoneyEdit2Activity" />
        <activity android:name=".ui.AddListActivity" />
        <activity android:name=".ui.MoneyListActivity"></activity>
    </application>

</manifest>